.container{
      margin: auto;
      text-align: center;
      margin-top: 15px;
}

.container2{
      margin: auto;
      text-align: center;
      margin-top: 15px;
}

h1{
  font-family: 'Krona One', sans-serif;
}

h2{
  font-family: 'Lato', sans-serif;
}

h3{
  font-style: italic;
}


table{
  margin: auto;
}

/* td{
  border: solid black 3px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 63px;
  font-weight: bold;
} */

td {
	border-radius: 50%;
	width: 85px;
	height: 85px;
  background: grey;
	/* width and height can be anything, as long as they're equal */
}

.blauw {
	border-radius: 50%;
	width: 85px;
	height: 85px;
  background: blue;
	/* width and height can be anything, as long as they're equal */
}

.rood {
	border-radius: 50%;
	width: 85px;
	height: 85px;
  background: red;
	/* width and height can be anything, as long as they're equal */
}
